.public-products {
    margin: 20px 30px 0px 30px;
}

.card {
  height: 379px;
  width: 260px;
  margin-right: 25px;
  float: left;
}

.card-image {
  height: 195px;
  width: 198px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
