<div>
  <h1 class="edit-h1">Edit Product</h1>
  <div>
    <form
      class="product-create-form"
      [formGroup]="editForm"
      (ngSubmit)="onSubmitForm()"
    >
      <div>
        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label"
            >Image address</label
          >
          <input
            type="text"
            class="form-control"
            id="exampleInputEmail1"
            aria-describedby="emailHelp"
            formControlName="address"
          />
        </div>
        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label">Title</label>
          <input
            type="text"
            class="form-control"
            id="exampleInputEmail1"
            aria-describedby="emailHelp"
            formControlName="title"
          />
        </div>
        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label">Description</label>
          <textarea
            type="text"
            class="form-control"
            id="exampleInputEmail1"
            aria-describedby="emailHelp"
            formControlName="info"
          ></textarea>
        </div>
        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label">Price</label>
          <input
            type="number"
            class="form-control"
            id="exampleInputEmail1"
            aria-describedby="emailHelp"
            formControlName="price"
          />
        </div>
        <button
          type="submit"
          class="btn btn-primary add-btn"
          [disabled]="!editForm.valid"
        >
          Edit
        </button>
      </div>
    </form>
  </div>
</div>
