<div>
  <button
    pButton
    type="button"
    label="Create"
    class="p-button-outlined create-button"
    (click)="onCreateProduct()"
  ></button>
  <div
    class="card"
    *ngFor="let product of products"
  >
    <img [src]="product.image" class="card-img-top card-image" alt="..." />
    <div class="card-body">
      <h5 class="card-title">{{ product.title }}</h5>
      <p class="card-text" [title]="product.info">
        {{
          product.info.length > 20
            ? (product.info | slice: 0:15) + "..."
            : product.info
        }}
      </p>
      <p class="card-text">{{ product.price | currency }}</p>
      <a class="btn btn-primary save-button" 
        >Save</a
      >
      <button class="btn btn-primary delete-button" type="button" (click)="onDeleteProduct(product.id)">
        Delete
      </button>
      <button
        pButton
        type="button"
        icon="pi pi-filter"
        class="p-button-text edit-button"
      >
        Edit
      </button>
    </div>
  </div>
</div>
